<!-- projeto site da banda volurya  versao bootstrap-->



<!DOCTYPE html>
<html>
  
<head>
  
	<meta charset="utf-8">
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
	<meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Russo One">
  

  <link rel="stylesheet" href="/static/styles.css">
 
  <title>VOLURYA - Official Website</title>
  
  <meta name="description" content="VOLURYA is a brazillian 4-piece progressive metal band with strong hardcore/trash/groove/brazillian music influencies." />
  
  <meta property="og:url" content="http://VOLURYA-Metal.com" />
  
  <meta property="og:title" content="VOLURYA-Metal.com" />
  
  <meta property="og:description" content="VOLURYA is a brazillian 4-piece progressive metal band with strong hardcore/trash/groove/brazillian music influencies." />
  
  <meta property="og:type" content="website" />

  <meta property="og:image" content="/static/imagens/volurya1.jpg" />

  <link rel="canonical" href="http://VOLURYA-metal.com">

  <link rel="shortcut icon" href="/static/imagens/android-chrome-192x192.png" type="image/x-icon" />

  <meta name="msapplication-TileColor" content="#000000">

  <meta name="msapplication-TileImage" content="/static/imagens/android-chrome-192x192.png">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body class="text-center">



  <!--imagem da banda-->
  
  <div class="bg-dark">

    <div>

      <a  href="#" ><img src="/static/imagens/VOLURYALOGOVAZADA.png" width="25%"></a>

    </div>

  <!-- barra de navegaçao-->

    <nav class="navbar navbar-dark bg-dark">

      <div class="container-fluid">

     

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">

          <span class="navbar-toggler-icon"></span>

      </button>





        <div class="collapse navbar-collapse" id="navbarsExample01">
          <ul class="navbar-nav me-auto mb-2" id="homesection">

            <li class="nav-item">

              <a class="btn btn-outline-danger btn-sm nav-link active" aria-current="page" href="#homesection" >HOME</a>

            </li>

            <li class="nav-item">

              <a class="btn btn-outline-danger btn-sm nav-link active" aria-current="page" href="#musicsection" >MUSIC</a>

            </li>

            <li class="nav-item">

              <a class="btn btn-outline-danger btn-sm nav-link active" aria-current="page" href="#socialsection" >SOCIAL</a>

            </li>

            <li class="nav-item">

              <a class="btn  btn-outline-danger btn-sm nav-link active" aria-current="page" href="#storesection" >STORE</a>

            </li>

          </ul>

        </div>

      </div>

  

    </nav>





    


<!--logo da banda-->
 
    <img src="/static/imagens/VOLURYAESTUDIO.jpg" class="d-block w-100" alt="...">

<!--TEXTO DA BIO -->


    <div class="text-danger">

      <h1  class="display-1">VOLURYA</h1>

   

      <p>"is a brazillian  4-piece metal band with strong hardcore/progressive/groove/brazillian music origins."

        <br>We are:

      </p>

    </div>

<!-- circulos de apresentaçao dos membros-->

      <div class="container">  

<!-- fotinha redonda do heitor -->

        <div class="row row-cols-2 g-10 text-center">

          <div class="col" style="color:white;">

            <img src="/static/imagens/VOLURYA - CENA ROCK-29-modified.png" class="rounded-circle img-fluid mb-2" style="max-width: 200px;">


      

              <h2>Carlos Heitor</h2>

                <p class="text-danger">Guitars And Back Vocals
                </p>
          
       
          </div>

            
      

          <div class="col" style="color:white;">

            <img src="/static/imagens/VOLURYA - CENA ROCK-36 (1)-modified.png" class="rounded-circle img-fluid mb-2" style="max-width: 200px;" >

              

            
              <h2>Iago Barros</h2>

                <p class="text-danger">Drums and Percussion</p>
         
       
          </div>

<!--FOTINHA REDONDA INES -->

          <div class="col" style="color:white;">

            <img src="/static/imagens/CENAROCKINES1-modified.png" class="rounded-circle img-fluid mb-2" style="max-width: 200px;" >

            

            

          <h2>Ines Ferreira</h2>

            <p class="text-danger">Lead Vocals</p>

      
    

          </div>

            


<!--fotinha redonda ramon -->

        <div class="col" style="color:white;">

          <img src="/static/imagens/VOLURYA - CENA ROCK-14-modified.png" class="rounded-circle img-fluid mb-2" style="max-width: 200px;" >

          

            

            <h2>Italo Ramon</h2>

              <p class="text-danger">Bass </p>
       
      
        </div>

      

      </div>
      
  

  </div> <!--fechamento da div bg dark-->    

     


<p><a class="btn btn-outline-danger"  href="#">View Full Bio &raquo;</a></p>



        




  
                                      <!--sessao music-->
<div class="bg-danger" id="musicsection">

  


  
<!-- div do video de inocua-->

  <div class="ratio ratio-16x9">

    <iframe  src="https://www.youtube.com/embed/5oIX7QS3uK8?si=QcqHMzN9UxNrIvVh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

  </div>

    



    <p>
      <a class="btn btn-outline-dark"  href="#">View More &raquo;</a>
    </p>



    
      
  
     

    <!--  sessao store-->

    <div class="bg-white" id="storesection">


        <div>

          

            <img src="/static/imagens/camiseta-feminina-preta.jpg" class="img-fluid">

             

                <h1>Black Basic Shirt Female-Volurya<br>R$ 20,00</h1>

        </div>      


    



      <div>

          <p>

            <a class="btn btn-outline-dark"  href="store.html">View More &raquo;</a>

          </p>

      </div>



    </div>



                                <!--social media botoes-->

      <div class="bg-dark" id="socialsection">

        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-spotify"></a>

      </div>
    


</body>

<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

</html>